* {
    box-sizing: border-box;
}

h1 {
    background-color: #CCC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

body {
    margin: 50px;
    font-size: 17px;
}

table {
    width: 600px;

}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table thead {
    background-color: rgb(197, 200, 202);
}

table tbody {
    background-color: rgb(110, 150, 172);
}
/*
tbody tr:hover {
    background-color: darkgrey;
}*/

tbody td:hover {
    background-color: darkgray;
}